.container-header {
    display: flex;
}
.navbar ul{
    display: flex;
    flex-direction: column;
    list-style: none;    
}
.container-1 {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}
.container-1 li {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;     
    flex-grow: 1;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
#projects ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.5rem;
}
#projects li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 8px 5px 5px rgba(99, 123, 187, 0.527);
    padding: 1rem 2rem 0.2rem 3rem; 
    border-radius: 12px;
    width: 65%;
    text-transform: capitalize;
    color: rgb(8, 37, 84);
    background-color: rgb(225, 233, 252);
}
#projects li p {
    font-size: small;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    nav { 
        margin: auto;
        float: right; 
        text-size-adjust: auto; 
        text-justify: auto;     
    }
    nav ul {
        display: inline-flex;
        margin: 1rem;
    }
}  
@media screen and (min-width: 769px) and (max-width: 1024px) { 
    .container-header {
        justify-content: space-around;  
    }
    .my-logo {
        margin: 20px;
    }
    nav {
        width: 100%;
    }
    .navbar ul {
        flex-direction: row;
        margin-left: 0rem;
        margin-top: 3.5rem;
        justify-content: space-around;
        font-size: medium;
    }
    .container-1.about {
        flex-direction: row;
    }
    .my-photo {
        margin-top: 1.8rem;
        margin-right: 5rem ;     
        margin-left: 3rem ;       
    }
}
@media screen and (min-width: 1025px) {
    .container-header {
        justify-content: space-around;    
    }
    .my-logo {
        margin: 30px;
    }
    nav {
        width: 100%;
    }
    .navbar ul {
        flex-direction: row;
        margin-top: 4rem;
        justify-content: space-around;
        font-size: large;
    }
    .container-1.about {
        flex-direction: row;
    }
    .my-photo {
        margin-top: 1.8rem;
        margin-right: 5rem ;     
        margin-left: 3rem ;       
    }
    .item-1.item {
        margin-left: 5rem;
        margin-right: 3rem;
    }   
}
@media screen and (min-width: 1300px) {
    body {
        margin-left: 10rem;
        margin-right: 10rem;
    }
    .my-photo {
        margin-top: 1.7rem;
        margin-right: 6rem ;     
        margin-left: 2rem ;       
    }
}